h1{
    text-align: center;
    color :#007bff
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

input[type="text"] {
    padding: 5px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

button.delete {
    background-color: #dc3545;
}